@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --primary: #0F0F0F;
  --secondary: #C9A227;
  
  --bg: #1C1C1C;
  --card: #262626;

  --accent: #d6d2c5;

  --primary-text: #F5F5F5;
  --secondary-text: #B3B3B3;

  --hover: #E5C558;
}


*{
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

.font-playfair {
  font-family: "Playfair", serif !important;
}

.hero-container {
  @apply flex flex-col items-start justify-center px-6 md:px-16 lg:px-24 xl:px-32 text-white h-screen;
  position: relative;
  background: url('/hero.jpg') center/cover;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 60% dark overlay */
  z-index: 1;
}