@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  /* ===== Brand Colors ===== */
  --primary: #0c1618;
  --secondary: #004643;
  --accent: #faf4d3;
}


*{
  box-sizing: border-box;
  font-family: "Outfit", serif;
  scroll-behavior: smooth;
}

.font-playfair {
  font-family: "Playfair", serif !important;
}

.no-scrollbar{
  scrollbar-width: none;
}



/* ===== Main Components ===== */
/* Navbar */
.navbar {
  @apply fixed top-0 left-0 w-full flex items-center justify-between px-4 md:px-16 lg:px-24 xl:px-32 py-4 md:py-6 transition-all duration-500 z-50 text-white;
  backdrop-filter: blur(0);
}

.navbar-scrolled {
  @apply bg-white/80 shadow-md py-3 md:py-4;
  backdrop-filter: blur(12px);
}

.navbar-logo {
  @apply flex items-center gap-2;
}

.navbar-logo-img {
  @apply h-9 max-sm:h-6 transition-all;
}

.navbar-links-desktop {
  @apply hidden md:flex items-center gap-4 lg:gap-8;
}

.navbar-link {
  @apply flex flex-col gap-0.5 transition-colors;
}

.navbar-link-underline {
  @apply h-0.5 w-0 group-hover:w-full transition-all duration-300;
}

.navbar-dashboard-btn {
  @apply border px-4 py-1 text-sm font-light rounded-full cursor-pointer transition-all hover:bg-[var(--primary)] hover:text-white hover:border-[var(--primary)];
}

.navbar-actions-desktop {
  @apply hidden md:flex items-center gap-4;
}

.navbar-icon {
  @apply cursor-pointer transition-all transform hover:scale-105;
}

.navbar-login-btn {
  @apply px-8 py-2.5 rounded-full transition-all cursor-pointer hover:bg-[var(--secondary)] hover:text-white;
}

/* Mobile Navbar */
.navbar-mobile-btns {
  @apply flex items-center gap-3 md:hidden;
}

.navbar-mobile-menu-icon {
  @apply cursor-pointer transition-all;
}

.navbar-mobile-menu {
  @apply fixed top-0 left-0 w-full h-screen bg-white text-gray-800 flex flex-col items-center justify-center gap-6 font-medium transition-all duration-500 -translate-x-full md:hidden;
}

.navbar-mobile-menu.open {
  @apply translate-x-0;
}

.navbar-mobile-close {
  @apply absolute top-4 right-4 cursor-pointer;
}

.navbar-dashboard-btn-mobile,
.navbar-login-btn-mobile {
  @apply border px-4 py-1 text-sm font-light rounded-full cursor-pointer transition-all;
}

.navbar-login-btn-mobile {
  @apply bg-black text-white;
}

/* Footer */
.footer-section {
  @apply bg-slate-50 text-gray-500/80 pt-8 px-6 md:px-16 lg:px-24 xl:px-32;
}

.footer-top {
  @apply flex flex-wrap justify-between gap-12 md:gap-6;
}

.footer-brand {
  @apply max-w-80;
}

.footer-logo {
  @apply invert mb-4 h-8 md:h-9;
}

.footer-description {
  @apply text-sm;
}

.footer-socials {
  @apply flex items-center gap-3 mt-4;
}

.footer-social-icon {
  @apply hover:scale-105 hover:text-[var(--secondary)] cursor-pointer transition-transform;
}

.footer-links {
  @apply flex flex-col;
}

.footer-links-title {
  @apply text-lg text-[var(--primary)] font-semibold;
}

.footer-links-list {
  @apply mt-3 flex flex-col gap-2 text-sm;
}

.footer-links-list li a {
  @apply cursor-pointer hover:text-[var(--secondary)];
}

.footer-newsletter {
  @apply max-w-80;
}

.footer-newsletter-text {
  @apply mt-3 text-sm;
}

.footer-newsletter-form {
  @apply flex items-center mt-4;
}

.footer-newsletter-input {
  @apply bg-white rounded-l border border-gray-300 h-9 px-3 outline-none;
}

.footer-newsletter-btn {
  @apply flex items-center justify-center cursor-pointer bg-black h-9 w-9 aspect-square rounded-r transition-transform;
}

.footer-newsletter-btn-icon {
  @apply text-white group-hover:translate-x-0.5;
}

.footer-divider {
  @apply border-gray-300 mt-8;
}

.footer-bottom {
  @apply flex flex-col md:flex-row gap-2 items-center justify-between py-5 text-sm;
}

.footer-bottom-links {
  @apply flex items-center gap-4 cursor-pointer transition-colors duration-300;
}

.footer-bottom-links li a {
  @apply hover:text-[var(--secondary)];
}


/* ===== Helper Components ===== */
/* Section Title */
.section-title {
  @apply flex flex-col justify-center items-center text-center;
}

.section-title-left {
  @apply md:items-start md:text-left;
}

.section-title-heading {
  @apply text-4xl md:text-[40px] font-medium;
}

.section-title-subtitle {
  @apply text-sm md:text-base text-gray-500/90 mt-2 max-w-[696px];
}

/* ===== Components ==== */
/* Registration Form */
.reg-overlay {
  @apply fixed inset-0 z-[100] flex items-center justify-center bg-black/50;
}

.reg-container {
  @apply flex bg-white rounded-xl w-full max-w-3xl max-md:mx-2;
}

.reg-image {
  @apply w-1/2 rounded-xl hidden md:block rounded-br-none rounded-tr-none;
}

.reg-form {
  @apply relative flex flex-col items-center w-full md:w-1/2 p-8 md:p-10;
}

.reg-close {
  @apply absolute top-4 right-4 cursor-pointer;
}

.reg-title {
  @apply text-2xl font-semibold mt-6;
}

.reg-group {
  @apply w-full mt-4;
}

.reg-city {
  @apply max-w-60 mr-auto;
}

.reg-label {
  @apply font-medium text-gray-500;
}

.reg-input {
  @apply border-2 border-gray-200 rounded-lg w-full px-3 py-2.5 mt-1 outline-[var(--secondary)]/90 font-light;
}

.reg-btn {
  @apply bg-[var(--primary)] hover:bg-[var(--secondary)] transition-all text-white mr-auto px-6 py-2 rounded-xl cursor-pointer mt-6 active:scale-95;
}

/* Home - Hero */
.hero-container {
  @apply flex flex-col items-start justify-center px-6 md:px-16 lg:px-24 xl:px-32 h-screen w-full bg-cover bg-center text-white;
  position: relative;
  background-image: url('/images/hero.jpg');
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 60% dark overlay */
  z-index: 1;
}

.tagline {
  @apply bg-[var(--secondary)] px-3.5 py-1 rounded-full mt-20 z-10;
}

.title {
  @apply text-2xl md:text-[56px] md:leading-14 tracking-wide font-bold md:font-extrabold max-w-xl mt-4 z-10;
}

.subtitle {
  @apply max-w-104 mt-2 text-sm md:text-base z-10;
}

/* Home - Hero - Booking Form */
.booking-form {
  @apply bg-white text-[var(--primary)]/60 rounded-lg px-6 py-4 mt-6 flex flex-col md:flex-row max-md:items-start gap-4 max-md:mx-auto z-10;
}

.booking-field {
  @apply flex flex-col;
}

.booking-label-group {
  @apply flex items-center gap-2 text-[var(--secondary)];
}

.booking-input {
  @apply rounded border border-gray-200 px-3 py-1.5 mt-1.5 text-sm outline-none;
}

.booking-guests {
  @apply flex md:flex-col max-md:gap-2 max-md:items-center text-[var(--secondary)];
}

.booking-guest-input {
  @apply rounded border border-gray-200 px-3 py-1.5 mt-1.5 text-sm outline-none max-w-16;
}

.booking-search-btn {
  @apply flex items-center justify-center gap-2 rounded-md 
         bg-[var(--primary)] py-3 px-4 text-white my-auto 
         cursor-pointer max-md:w-full max-md:py-1 
         hover:bg-[var(--secondary)] transition-colors duration-300;
}

/* Home - Featured Destinations */
.featured-destination {
  @apply flex flex-col items-center px-6 md:px-16 lg:px-24 bg-slate-50 py-20;
}

.featured-destination-list {
  @apply flex flex-wrap items-center justify-center gap-6 mt-20;
}

.featured-destination-btn {
  @apply mt-16 px-4 py-2 text-sm font-medium border border-gray-300 rounded-lg bg-white text-[var(--primary)]/90 cursor-pointer transition-all hover:bg-gray-50;
}

/* Home - Featured Destinations - Hotel Card */
.hotel-card {
  @apply relative max-w-[280px] w-full rounded-xl overflow-hidden bg-white text-gray-600/90 shadow-[0px_4px_4px_rgba(0,0,0,0.05)] transition-all hover:shadow-[0px_4px_4px_rgba(0,0,0,0.12)] hover:scale-105;
}

.hotel-card-img {
  @apply w-full aspect-[4/3] object-cover;
}

.hotel-card-badge {
  @apply px-3 py-1 absolute top-3 left-3 text-xs bg-[var(--secondary)]/70 text-white font-medium rounded-full;
}

.hotel-card-content {
  @apply p-4 pt-5;
}

.hotel-card-header {
  @apply flex items-center justify-between;
}

.hotel-card-title {
  @apply text-xl font-medium text-gray-800;
}

.hotel-card-rating {
  @apply flex items-center gap-1;
}

.hotel-card-location {
  @apply flex items-center gap-1 text-sm mt-1 text-gray-500;
}

.hotel-card-footer {
  @apply flex items-center justify-between mt-4;
}

.hotel-card-price {
  @apply text-lg text-gray-800 font-semibold;
}

.hotel-card-btn {
  @apply px-4 py-2 text-sm font-medium border bg-white border-gray-300 rounded hover:bg-gray-50 transform transition-all cursor-pointer;
}

/* Home - Exclusive Offers */
.exclusive-offers {
  @apply flex flex-col items-center px-6 md:px-16 lg:px-24 xl:px-32 pt-20 pb-30; 
}

.exclusive-offers-header {
  @apply flex flex-col md:flex-row items-center justify-between w-full;
}

.exclusive-offers-btn {
  @apply cursor-pointer flex items-center gap-2 font-medium max-md:mt-12 text-[var(--secondary)];
}

.exclusive-offers-btn-icon {
  @apply group-hover:translate-x-1 transition-transform;
}

/* Home - Exclusive Offers - Offer Card */
.offer-card-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12 w-full;
}

.offer-card {
  @apply relative flex flex-col items-start justify-between gap-1 pt-12 md:pt-18 px-4 rounded-xl text-white overflow-hidden bg-no-repeat bg-cover bg-center;
}

.offer-card-overlay {
  @apply absolute inset-0 bg-black/50;
}

.offer-card-badge {
  @apply px-3 py-1 absolute top-4 left-4 text-xs bg-white text-gray-800 font-medium rounded-full;
}

.offer-card-content {
  @apply relative z-10;
}

.offer-card-title {
  @apply text-2xl font-medium;
}

.offer-card-description {
  @apply mt-1;
}

.offer-card-expiry {
  @apply text-xs text-white/70 mt-3;
}

.offer-card-btn {
  @apply flex items-center gap-2 font-medium cursor-pointer mt-4 mb-5;
}

.offer-card-btn-icon {
  @apply group-hover:translate-x-1 transition-transform;
}

/* Home - Testimonials */
.testimonial-section {
  @apply flex flex-col items-center px-6 md:px-16 lg:px-24 xl:px-32 pt-20 pb-30 bg-slate-50;
}

.testimonial-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-20;
}

.testimonial-card {
  @apply bg-white p-6 rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.05)];
}

.testimonial-header {
  @apply flex items-center gap-3;
}

.testimonial-img {
  @apply w-12 h-12 rounded-full;
}

.testimonial-user {
  @apply flex flex-col;
}

.testimonial-name {
  @apply text-xl text-gray-800;
}

.testimonial-city {
  @apply text-gray-500 text-sm;
}

.testimonial-rating {
  @apply flex items-center gap-1 mt-4;
}

.testimonial-comment {
  @apply text-gray-500 max-w-[360px] mt-4;
}

/* Home - Newsletter */
.newsletter-section {
  @apply flex flex-col items-center max-w-5xl lg:w-full rounded-2xl px-4 py-12 md:py-16 mx-2 lg:mx-auto my-30 bg-[var(--primary)] text-white;
}


.newsletter-container-header {
  @apply flex flex-col justify-center items-center text-center;
}

.newsletter-container-header .title {
  @apply text-4xl font-medium md:text-[40px] text-white;
}

.newsletter-container-header .subtitle {
  @apply text-sm md:text-base text-gray-500/90 mt-2 max-w-[696px];
}

.newsletter-form {
  @apply flex flex-col md:flex-row items-center justify-center gap-4 mt-6 w-full;
}

.newsletter-input {
  @apply bg-[var(--secondary)]/20 px-4 py-2.5 border-2 border-[var(--secondary)]/80 text-[var(--text-accent)] rounded-lg outline-none max-w-[264px] w-full placeholder:text-white/70;
}

.newsletter-btn {
  @apply flex items-center justify-center gap-2 bg-[var(--secondary)] text-white px-4 md:px-7 py-2.5 rounded-lg active:scale-95 transition-all cursor-pointer;
}

.newsletter-btn-icon {
  @apply group-hover:translate-x-1 transition-transform;
}

.newsletter-disclaimer {
  @apply text-gray-500/90 mt-6 text-xs text-center;
}


/* Hotel Rooms */
.container {
  @apply flex flex-col-reverse lg:flex-row items-start justify-between gap-10 lg:gap-32 pt-28 px-4 md:px-16 lg:px-24 xl:px-32;
}

.header {
  @apply flex flex-col items-start text-left;
}

.header .title {
  @apply text-4xl font-medium md:text-[40px];
}

.header .subtitle {
  @apply text-sm md:text-base text-gray-500/90 mt-2 max-w-174;
}

.room-card {
  @apply flex flex-col md:flex-row items-start py-10 gap-6 border-b border-gray-300 last:pb-30 last:border-0;
}

.room-img {
  @apply max-h-64 md:w-1/2 rounded-xl shadow-lg object-cover cursor-pointer;
}

.room-info {
  @apply md:w-1/2 flex flex-col gap-2;
}

.city {
  @apply text-gray-500;
}

.hotel-name {
  @apply text-gray-800 text-3xl cursor-pointer;
}

.rating {
  @apply flex items-center;
}

.reviews {
  @apply ml-2;
}

.location {
  @apply flex items-center gap-1 text-gray-500 mt-2 text-sm;
}

.amenities {
  @apply flex flex-wrap items-center mt-3 mb-6 gap-4;
}

.amenity {
  @apply flex items-center gap-2 bg-gray-100 px-3 py-2 rounded-full;
}

.amenity p {
  @apply text-xs;
}

.price {
  @apply text-gray-600;
}

.price-value {
  @apply text-xl font-medium text-gray-800;
}

.filters {
  @apply bg-white w-80 max-sm:mx-auto border border-gray-300 text-gray-600 max-lg:mb-8 min-lg:my-16 rounded-lg pb-4;
}

.filters-header {
  @apply flex items-center justify-between px-5 py-2.5 min-lg:border-b border-gray-300;
}

.filters-title {
  @apply text-base font-medium text-gray-800;
}

.filters-actions {
  @apply text-xs cursor-pointer;
}

.clear {
  @apply hidden lg:block;
}

.filters-body {
  @apply overflow-hidden transition-all duration-800 ease-in-out h-0 lg:h-auto;
}

.filters-body.show {
  @apply h-auto;
}

.section {
  @apply px-5 pt-5;
}

.section-title {
  @apply font-medium text-gray-800 pb-2;
}

.range {
  @apply w-full accent-black cursor-pointer;
}

.range-labels {
  @apply flex justify-between text-xs text-gray-500 mt-2;
}

.checkbox,
.radio {
  @apply flex gap-3 items-center cursor-pointer mt-2 text-sm;
}

.checkbox-text {
  @apply font-light select-none;
}

.amenity-buttons {
  @apply flex flex-wrap gap-2;
}

.amenity-btn {
  @apply text-xs px-3 py-1.5 rounded-full border transition cursor-pointer bg-white border-gray-300 hover:bg-gray-100;
}

.amenity-btn.active {
  @apply bg-black text-white border-black;
}


/* Hotel Rooms -> Room Details */
.rd-container {
  @apply py-22 md:py-28 px-4 md:px-16 lg:px-24 xl:px-32;
}

.rd-title-row {
  @apply flex flex-col md:flex-row items-start md:items-center gap-2;
}

.rd-title {
  @apply text-3xl md:text-4xl;
}

.rd-room-type {
  @apply text-sm;
}

.rd-badge {
  @apply text-xs py-1.5 px-3 text-white bg-[var(--secondary)] rounded-full;
}

.rd-rating {
  @apply flex items-center gap-1 mt-2;
}

.rd-reviews {
  @apply ml-2;
}

.rd-location {
  @apply flex items-center gap-1 mt-2 text-gray-500;
}

.rd-images {
  @apply flex flex-col lg:flex-row mt-6 gap-6;
}

.rd-main-img-wrapper {
  @apply lg:w-1/2 w-full aspect-[4/3];
}

.rd-main-img {
  @apply w-full h-full rounded-xl shadow-lg object-cover transition-all duration-300;
}

.rd-grid {
  @apply grid grid-cols-2 gap-4 lg:w-1/2 w-full;
}

.rd-thumb {
  @apply w-full aspect-[4/3] rounded-xl shadow-md object-cover object-center cursor-pointer;
}

.active-thumb {
  @apply outline-3 outline-[var(--secondary)]/90;
}

.rd-highlights {
  @apply flex flex-col md:flex-row md:justify-between mt-10;
}

.rd-heading {
  @apply text-3xl md:text-4xl;
}

.rd-amenities {
  @apply flex flex-wrap items-center mt-3 mb-6 gap-4;
}

.rd-amenity {
  @apply flex items-center gap-2 bg-gray-100 px-3 py-2 rounded-full;
}

.rd-amenity p {
  @apply text-xs;
}

.rd-price {
  @apply text-gray-600;
}

.rd-price-value {
  @apply text-2xl font-medium text-gray-800;
}

.rd-form {
  @apply flex flex-col md:flex-row items-start md:items-center justify-between bg-white shadow-[0px_0px_20px_rgba(0,0,0,0.15)] p-6 rounded-xl mx-auto mt-16 max-w-6xl;
}

.rd-form-left {
  @apply flex flex-col flex-wrap md:flex-row items-start md:items-center gap-4 md:gap-10 text-gray-500;
}

.rd-input-group {
  @apply flex flex-col;
}

.rd-input-group label {
  @apply font-medium;
}

.rd-input {
  @apply w-full rounded-lg border border-gray-300 px-3 py-2 mt-1.5 outline-none;
}

.rd-input.small {
  @apply max-w-20;
}

.rd-divider {
  @apply w-px h-14 bg-gray-300/70 max-md:hidden;
}

.rd-btn {
  @apply bg-[var(--primary)] hover:bg-[var(--secondary)]/90 active:scale-95 transition-all text-white rounded-md max-md:w-full max-md:mt-6 md:px-24 py-3 md:py-4 text-base cursor-pointer;
}

.rd-specs {
  @apply mt-24 space-y-4;
}

.rd-spec {
  @apply flex items-start gap-2;
}

.rd-spec-desc {
  @apply text-gray-500;
}

.rd-description {
  @apply max-w-3xl border-y border-gray-300 my-14 py-10 text-gray-500;
}

.rd-owner {
  @apply flex flex-col items-start gap-4;
}

.rd-owner-info {
  @apply flex gap-4;
}

.rd-owner-img {
  @apply h-14 w-14 md:h-18 md:w-18 rounded-full;
}

.rd-owner-name {
  @apply text-lg md:text-xl;
}

.rd-contact-btn {
  @apply px-6 py-2.5 mt-4 rounded text-white bg-[var(--primary)] hover:bg-[var(--secondary)]/90 transition-all cursor-pointer;
}

/* Review Form */
.rd-review-form {
  @apply my-12 max-w-2xl flex flex-col gap-4;
}

.rd-review-form h3 {
  @apply text-xl font-semibold;
}

.rd-review-form input {
  @apply border border-gray-300 rounded-lg px-3 py-2 outline-none;
}

.rd-review-form textarea {
  @apply border border-gray-300 rounded-lg px-3 py-2 outline-none min-h-[100px];
}

.rd-review-form button {
  @apply bg-[var(--primary)] text-white px-6 py-2 rounded-md hover:bg-[var(--secondary)] transition-all cursor-pointer w-fit;
}


/* Reviews Section */
.rd-reviews-section {
  @apply mt-14 space-y-6;
}

.rd-reviews-section h3 {
  @apply text-2xl font-semibold;
}

.rd-review {
  @apply border border-gray-200 rounded-lg p-4 shadow-sm space-y-2;
}

/* My Reservation */
.bk-container {
  @apply py-28 md:pb-34 md:pt-32 px-4 md:px-16 lg:px-24 xl:px-32;
}

.bk-table {
  @apply max-w-6xl mt-8 w-full text-gray-800;
}

.bk-header {
  @apply hidden md:grid md:grid-cols-[3fr_2fr_1fr] w-full border-b border-gray-300 font-medium text-base py-3;
}

.bk-row {
  @apply grid grid-cols-1 md:grid-cols-[3fr_2fr_1fr] w-full border-b border-gray-300 py-6 first:border-t hover:bg-gray-50 transition;
}

.bk-hotel {
  @apply flex flex-col md:flex-row;
}

.bk-img {
  @apply md:w-44 rounded-lg shadow object-cover;
}

.bk-info {
  @apply flex flex-col gap-1.5 max-md:mt-3 min-md:ml-4;
}

.bk-hotel-name {
  @apply text-2xl;
}

.bk-room-type {
  @apply text-sm ml-1;
}

.bk-meta {
  @apply flex items-center gap-1 text-sm text-gray-500;
}

.bk-total {
  @apply text-base;
}

.bk-dates {
  @apply flex flex-row md:items-center md:gap-12 mt-3 gap-8;
}

.bk-date-text {
  @apply text-gray-500 text-sm;
}

.bk-payment {
  @apply flex flex-col items-start justify-center pt-3;
}

.bk-status {
  @apply flex items-center gap-2;
}

.bk-dot {
  @apply h-2 w-2 rounded-full;
}

.bk-status-text {
  @apply text-sm capitalize;
}

.status-dot-confirmed {
  @apply bg-[var(--secondary)];
}

.status-text-confirmed {
  @apply text-[var(--secondary)];
}

.status-dot-pending {
  @apply bg-amber-500;
}

.status-text-pending {
  @apply text-amber-600;
}

.status-dot-cancelled {
  @apply bg-red-500;
}

.status-text-cancelled {
  @apply text-red-600;
}

.bk-pay-btn {
  @apply px-4 py-1.5 mt-4 text-xs border border-gray-400 rounded-full hover:bg-[var(--primary)] hover:text-white active:scale-95 transition-all cursor-pointer;
}

/* ====== Owner ===== */
/* Layout */
.layout-container {
  @apply flex flex-col min-h-screen;
}

.layout-body {
  @apply flex flex-1;
}

.layout-content {
  @apply flex-1 p-4 pt-10 md:px-10;
}

/* Sidebar */
.sidebar {
  @apply md:w-64 w-16 border-r border-gray-300 pt-4 flex flex-col min-h-screen transition-all duration-300;
}

.sidebar-link {
  @apply flex items-center py-3 px-4 md:px-8 gap-3;
}

.sidebar-link-active {
  @apply border-r-4 md:border-r-[6px] bg-[var(--icon-bg)] text-[var(--icon)];
}

.sidebar-link-inactive {
  @apply hover:bg-gray-50 text-gray-500;
}

.sidebar-text {
  @apply hidden md:block text-center;
}

/* Dashboard */
.db-stats {
  @apply flex gap-4 my-8;
}

.db-card {
  @apply bg-white border border-[var(--secondary)]/20 rounded-lg flex items-center p-4 pr-8 hover:bg-[var(--secondary)]/4 ;
}

.db-card-icon {
  @apply max-sm:hidden text-[var(--secondary)] bg-[var(--secondary)]/10 size-16 p-2 rounded-xl;
}

.db-card-text {
  @apply flex flex-col sm:ml-4 font-medium;
}

.db-card-title {
  @apply text-[var(--secondary)] text-lg;
}

.db-card-value {
  @apply text-neutral-500 text-base;
}

.db-recent-title {
  @apply text-2xl text-[var(--primary)] font-medium mb-5;
}

.db-recent-list {
  @apply w-full max-w-3xl text-left border border-gray-300 rounded-lg max-h-90 overflow-y-scroll;
}

.db-recent-list-th {
  @apply py-3 px-4 text-gray-800 font-medium text-center;
}

.db-recent-list-td {
  @apply py-3 px-4 text-center text-gray-700 border-t border-gray-300;
}

.db-recent-list-btn {
  @apply py-1 px-3 text-xs rounded-full mx-auto;
}

.db-confirmed-status-btn {
 @apply bg-[var(--secondary)]/10 px-2 py-1 text-[var(--secondary)] rounded-full;
}

.db-pending-status-btn {
  @apply bg-amber-600/10 px-2 py-1 text-amber-600 rounded-full;
}

.db-cancelled-status-btn {
 @apply bg-red-600/10 px-2 py-1 text-red-600 rounded-full;
}

/* Add Rooms */
.ar-label {
  @apply text-gray-800 mt-4 text-base font-medium;
}

.ar-images {
  @apply grid grid-cols-2 sm:flex gap-4 my-2 flex-wrap;
}

.ar-img {
  @apply w-12 h-12 md:w-32 md:h-24 rounded-xl cursor-pointer;
}

.ar-row {
  @apply w-full flex max-sm:flex-col sm:gap-4 mt-4;
}

.ar-col {
  @apply flex-1 max-w-48;
}

.ar-input {
  @apply border opacity-70 border-gray-300 mt-1 rounded-lg p-2 w-full;
}

.ar-price {
  @apply border border-gray-300 mt-1 rounded-lg p-2 w-24;
}

.ar-small {
  @apply text-xs font-light;
}

.ar-amenities {
  @apply flex flex-col flex-wrap mt-1 text-gray-500 max-w-sm accent-[var(--secondary)];
}

.ar-checkbox-label {
  @apply ml-2;
}

.ar-btn {
  @apply bg-[var(--primary)] text-white px-8 py-2 rounded-lg mt-8 cursor-pointer hover:bg-[var(--secondary)] transition-colors mb-4;
}

/* Rooms List */
.rl-subtitle {
  @apply mt-5 text-[var(--primary)];
}

.rl-table-wrapper {
  @apply mt-2 rounded-xl overflow-x-auto;
}

.rl-table {
  @apply max-w-4xl border-collapse;
}

.rl-table th {
  @apply bg-gray-50 p-3 font-medium text-center;
}

.rl-table td {
  @apply p-3 border-t-gray-500 text-center;
}

.toggle {
  @apply relative inline-block w-[50px] h-[26px];
}

.toggle input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute inset-0 bg-gray-300 rounded-[50px] transition-all duration-300 ease-in-out cursor-pointer;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background-color: var(--secondary);
}

.toggle input:checked + .slider::before {
  transform: translateX(24px);
}

/* Offers Page */
.exclusive-offers-container {
  @apply flex flex-col items-center px-6 md:px-16 lg:px-24 xl:px-32 pt-20 pb-30 mt-12;
}